{% extends 'SuperPortal/base.html' %}
{% load i18n %}
{% block meta_description %}{% trans 'Profile' %}: {{ user.username }}{% endblock %}
{% block body %}
<div id="general-profile">
    <h2>{% trans 'Personal information' %}:</h2>
    <p>User : {{ user.username }}</p>
    <p>Gender : {{ user.userprofile.gender }}</p>
    <p>Birthday : {{ user.userprofile.birthday_date|date:"d M Y" }}</p>
    <p>Job/Study : {{ user.userprofile.job_study }}</p>
    <p>User : {{ user.userprofile.town }} {% trans 'in' %} {{ user.userprofile.country }}</p>
    <p>Teamspeak : {{ user.userprofile.teamspeak_nickname }}</p>
    <p>Mumble : {{ user.userprofile.mumble_nickname }}</p>
    <p>Skype : {{ user.userprofile.skype_nickname }}</p>
    <p>Twitch : {{ user.userprofile.twitch_page }}</p>
    <p>Dailymotion : {{ user.userprofile.dailymotion_stream_page }}</p>
    {% for game in user.userprofile.games.all %}
        <img src="{{ game.image_thumbnail.url }}" class="" height="20px" width="20px"/> {{ game.name }}
    {% endfor %}
    <p>About : {{ user.userprofile.about_you }}</p>
    <img src="{{ user.userprofile.image_profile.url }}">
</div>

{% endblock %}