{% extends 'SuperPortal/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block meta_description %}{{ short_description }}{% endblock %}
{% block body %}
    <form method="POST">
        {% csrf_token %}

        <div class="fieldWrapper">
            {{ form.game_choice.errors }}
            <label for="{{ form.game_choice.id_for_label }}">{{ form.game_choice.label }}: </label>
            {{ form.game_choice }}
        </div>


        <div id="characters-attribute"></div>

        {{ form.introduction.label }}
        {{ form.introduction }}



        {{ form.age.label }}
        {{ form.age }}

        {{ form.character_name.label }}
        {{ form.character_name }}

        {{ form.another_characters.label }}
        {{ form.another_characters }}

        {{ form.availability.label }}
        {{ form.availability }}

        {{ form.motivations.label }}
        {{ form.motivations }}

        {{ form.experience_PVE.label }}
        {{ form.experience_PVE }}

        {{ form.experience_PVP.label }}
        {{ form.experience_PVP }}

        {{ form.old_guild.label }}
        {{ form.old_guild }}
        <input type="submit">
    </form>


{% endblock %}