{% extends 'SuperPortal/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'SuperPortal/css/enrollment_list.css' %}">
    <link rel="stylesheet" href="{% static 'SuperPortal/css/comments.css' %}">
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $.ajaxSetup({
            error: function (x, status, error) {
                if (x.status == 403) {
                    alert("Sorry, your session has expired. Please login again to continue");
                    window.location.href ="/Account/Login";
                }
                else {
                    alert("An error occurred: " + status + "nError: " + error);
                }
            }
        });
        $(document).on('click', '.voteup',
                function () {
                    $.ajax({
                        url: "{% url 'voteup' enrollment.pk %}",
                        method: 'POST'
                    }).success(function (data) {
                        $('.voteup').html(data['voteup']);
                        $('.votedown').html(data['votedown']);
                        $('#list_vote').find('ul').html(data['list_vote']);
                    })
                });

        $(document).on('click', '.votedown',
                function () {
                    $.ajax({
                        url: "{% url 'votedown' enrollment.pk %}",
                        method: 'POST'
                    }).success(function (data) {
                        $('.voteup').html(data['voteup']);
                        $('.votedown').html(data['votedown']);
                        $('#list_vote').find('ul').html(data['list_vote']);
                    })
                })
    </script>
{% endblock %}
{% block meta_description %}{{ short_description }}{% endblock %}
{% block body %}
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 content-wrapper">
        <div class="col-xs-8">
            <div class="details-enrollment-date">
                <i class="fa fa-calendar"> {{ enrollment.enrollement_date|date:"d M Y" }}</i>
                <h4>{% trans 'Enrollment for' %}: {{ enrollment.character_name }} - <a href="#">{{ enrollment.user.username }}</a> - {{ enrollment.age }} {% trans 'years' %}
                    {% trans 'in' %} <img class="game-enrollment" src="{{ enrollment.game_choice.image_thumbnail.url }}">   {{ enrollment.game_choice }}
                    <i class="fa fa-thumbs-up fa-green voteup"> {{ enrollment.get_vote_up }}</i>
                    <i class="fa fa-thumbs-down fa-red votedown"> {{ enrollment.get_vote_down }}</i>
                </h4>
            </div>
            <ul>
                {% for role in enrollment.roles.all %}
                    <li><b>{{ role }}</b></li>
                {% endfor %}
            </ul>
            <div class="checkbox">
                {% if enrollment.another_characters %}
                    <label>
                        <input type="checkbox" disabled="disabled" checked="checked"> {% trans 'Another characters' %}
                    </label>
                {% else %}
                    <label>
                        <input type="checkbox" disabled="disabled">  {% trans 'Another characters' %}
                    </label>
                {% endif %}
            </div>
            <hr>
            <h4>{% trans 'Introduction' %}</h4>
            {{ enrollment.introduction|linebreaks}}
            <hr>
            <h4>{% trans 'Motivations' %}</h4>
            {{ enrollment.motivations|linebreaks}}
            <hr>
            <h4>{% trans 'Availability' %}</h4>
            {{ enrollment.availability|linebreaks}}
            <hr>
            <h4>{% trans 'PVE experience' %}</h4>
            {{ enrollment.experience_PVE|linebreaks}}
            <hr>
            <h4>{% trans 'PVP experience' %}</h4>
            {{ enrollment.experience_PVP|linebreaks}}
            <hr>
            <h4>{% trans 'Old guild' %}</h4>
            {{ enrollment.old_guild|linebreaks}}


        </div>
        <div class="col-xs-12 col-lg-4" id="list_vote">
            <h4>{% trans 'List votes' %}</h4>
            <ul>
                {% include 'Portal/Enrollement/list_vote.html' %}
            </ul>

        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="comments">
                <h4>{% trans 'Comments' %}</h4>
                {% for comment in enrollment.commentenrollment_set.all %}
                    {% include 'Portal/News/comment.html' %}
                {% endfor %}
            </div>
            <form method="post" > {% csrf_token %}
                {{ form.as_p }}
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}