{% extends 'SuperPortal/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'SuperPortal/css/enrollment_list.css' %}">
    <link rel="stylesheet" href="{% static 'SuperPortal/css/comments.css' %}">
{% endblock %}
{% block meta_description %}{{ short_description }}{% endblock %}
{% block body %}
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 content-wrapper">
        <div class="col-xs-8">
            <div class="details-enrollment-date">
                <i class="fa fa-calendar"> {{ enrollment.enrollement_date|date:"d M Y" }}</i>
                <h4>{% trans 'Enrollment for' %}: {{ enrollment.character_name }} - <a href="#">{{ enrollment.user.username }}</a> - {{ enrollment.age }} {% trans 'years' %}
                    {% trans 'in' %} <img class="game-enrollment" src="{{ enrollment.game_choice.image_thumbnail.url }}">   {{ enrollment.game_choice }}
                    <i class="fa fa-thumbs-up fa-green"> {{ enrollment.get_vote_up }}</i>
                    <i class="fa fa-thumbs-down fa-red"> {{ enrollment.get_vote_down }}</i>
                </h4>
            </div>
            <ul>
                {% for role in enrollment.roles.all %}
                    <li><b>{{ role }}</b></li>
                {% endfor %}
            </ul>
            <div class="checkbox">
                {% if enrollment.another_characters %}
                    <label>
                        <input type="checkbox" disabled="disabled" checked="checked"> {% trans 'Another characters' %}
                    </label>
                {% else %}
                    <label>
                        <input type="checkbox" disabled="disabled">  {% trans 'Another characters' %}
                    </label>
                {% endif %}
            </div>
            <hr>
            <h4>{% trans 'Introduction' %}</h4>
            {{ enrollment.introduction|linebreaks}}
            <hr>
            <h4>{% trans 'Motivations' %}</h4>
            {{ enrollment.motivations|linebreaks}}
            <hr>
            <h4>{% trans 'Availability' %}</h4>
            {{ enrollment.availability|linebreaks}}
            <hr>
            <h4>{% trans 'PVE experience' %}</h4>
            {{ enrollment.experience_PVE|linebreaks}}
            <hr>
            <h4>{% trans 'PVP experience' %}</h4>
            {{ enrollment.experience_PVP|linebreaks}}
            <hr>
            <h4>{% trans 'Old guild' %}</h4>
            {{ enrollment.old_guild|linebreaks}}


        </div>
        <div class="col-xs-12 col-lg-4">
            <h4>{% trans 'List votes' %}</h4>
            <ul>
                {% for vote in enrollment.enrollmentvote_set.all %}
                    {%  if vote.vote %}
                        <li><i class="fa fa-thumbs-up fa-green"></i> {% trans 'by' %} {{ vote.user.username }}</li>
                    {% else %}
                        <li><i class="fa fa-thumbs-down fa-red"></i> {% trans 'by' %} {{ vote.user.username }}</li>
                    {% endif %}
                {% empty %}
                    {% trans 'No votes yet' %}
                {% endfor %}
            </ul>

        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="comments">
                <h4>{% trans 'Comments' %}</h4>
                {% for comment in enrollment.commentenrollment_set.all %}
                    {% include 'Portal/News/comment.html' %}
                {% endfor %}
            </div>
        <form method="post" > {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>

        </div>

    </div>
{% endblock %}