body {
    background-color: #EEF2EB;
    width: 100%;
}

div.content-wrapper {
    overflow: hidden;
}

div#top-header {
    background-color: #ecf0f1;
    overflow: auto;
}

div#top-header div {
    display: inline-block;
}

div#banner {
    background-color: #0D0907;
    width: 100%;
}

div#banner img {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



div#banner {
    height: 200px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

div#connection-module {
    position: absolute;
    z-index: 100;
    background-color: transparent;
    top: 105px;
    left: 0;
    height: 45px;
}

div#navigation-menu {
    background-color: #735F58;
    width: 100%;
}

div#navigation-menu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

div#navigation-menu ul li {
    display: inline;
}

div#navigation-menu ul li a {
    line-height: 3.7em;
}
