body {
    background-color: #EEF2EB;
}


div#top-header {
    background-color: #ecf0f1;
    overflow: auto;
}

div#top-header div {
    display: inline-block;
}

div#logo {
    background-color: black;
}

div#logo, div#banner {
    height: 150px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

div#connection-module {
    position: absolute;
    z-index: 100;
    background-color: transparent;
    top: 105px;
    left: 0;
    height: 45px;
}

div#navigation-menu {
    background-color: black;
}

div#navigation-menu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

div#navigation-menu ul li {
    display: inline;
}

div#navigation-menu ul li a
{
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

div#navigation-menu ul li a:hover
{
    color: #fff;
    background-color: #369;
}