
.news {
    height: 200px;
    border: 1px solid black;
    margin-top: 15px;
    background-color: white;
}

#superportal-slider {
    height: 200px;
    background-color: #fff;;
}

.news.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.info-news {
    font-size: 12px;
}

.news-img-portal {
    height: 15px;
    width: 15px;
}

.news-img {
    height: 100%;
}


