{% extends 'Administration/admin_base.html' %}
{% load i18n %}
{% block body_title %}
    {% trans 'User detail' %} : {{ user.username }} - <a href="{% url 'admin_user_update' pk=user.userprofile.pk %}"><i class="fa fa-cogs"></i></a>
{% endblock %}

{% block body %}
    {#    <div class="user-profile row">#}
    <div class="col-lg-4 col-xs-12 col-md-5">
        {% if user.userprofile.image_profile %}
            <img class="img-responsive" src="{{ user.userprofile.image_profile.url }}">
        {% endif %}
    </div>
    <div class="user col-lg-4 col-md-7 col-xs-12">
        <h3>{% trans 'Informations' %}</h3>
        <p>{% trans 'Username' %}: {{ user.username }}</p>
        <p>{% trans 'First name' %}:{{ user.first_name }}</p>
        <p>{% trans 'Last name' %}:{{ user.last_name }}</p>
        <p>{% trans 'Last login' %}: {{ user.last_login }}</p>
        <p>{% trans 'Email' %}: {{ user.email }}</p>
        <p>{% trans 'Post number' %}: {{ user.userprofile.post_in_forum }}</p>
        <p>{% trans 'Comment number' %}: {{ user.userprofile.reponse_to_blog }}</p>
        <p>{% trans 'Participation in Raid outputs' %}: {{ participation }} %</p>
    </div>
    <div class="col-lg-4 col-md-12 col-xs-12">
        <h3>{% trans 'Game played' %}</h3>
        {% with user.userprofile as userp %}
            {% for game in userp.games.all %}
                {% include 'Administration/games/game_unit_for_li.html' %}
            {% endfor %}
        {% endwith %}
    </div>
    <div class="clearfix visible-lg-block"></div>
    <div id="last-posts" class="col-lg-6">
        <h3>{% trans 'Last posts' %}</h3>
        <div class="post"></div>
    </div>

    <div id="last-comments" class="col-lg-6">
        <h3>{% trans 'Last comments' %}</h3>
        <div class="comment"></div>
    </div>
    <div class="clearfix visible-lg-block"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Donut Chart Example
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="morris-donut-chart" style="height: 250px;"></div>
        </div>
        <!-- /.panel-body -->
    </div>
{% endblock %}
{% block js %}
    {% load static %}
    <script src="{% static 'PortalAdmin/js/external/raphael-min.js' %}"></script>
    <script src="{% static 'PortalAdmin/js/external/morris.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: "{% url 'last_post_last_comments' user.pk %}"
            }).success(function (data) {
                $.each(data['posts'], function() {
                    $("#last-posts").find(".post").append("<p>" + this.body.substring(0, 150) + "</p>")
                });
                $.each(data['comments'], function() {
                    $("#last-comments").find(".comment").append("<p>" + this.content.substring(0, 150) + " <b>dans</b> " + this.news__title.substring(0, 50) + "</p>")
                });
                console.log(data['participation']);
                if ($("#morris-donut-chart").length) {
                    Morris.Donut({
                        element: 'morris-donut-chart',
                        data: [
                            {label: "Cognefort", value: 12},
                            {label: "In-Store Sales", value: 30},
                            {label: "Mail-Order Sales", value: 20}
                        ]
                    });
                }
            });
        });
    </script>
{% endblock %}