{% extends 'SuperPortal/base.html' %}
{% load i18n %}
{% load static %}
{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'PortalRaid/css/profil.css' %}">
{% endblock %}
{% block meta_description %}{% trans 'Profile' %}: {{ user.username }}{% endblock %}

{% block body %}
    <div class="col-xs-10 col-xs-offset-1 content-wrapper">
        <a href="{% url 'raid_detail_signup' raid.id %}">{% trans 'Sign up' %}</a>
        <div id="header-raid" class="col-xs-3">
            <img class="img-responsive" src="{{ raid.raid.image.url }}">
        </div>
        <div id="out-raid" class="col-xs-7">
            <h3>{{ raid.name }}</h3>
            <h5>{{ raid.raid.name }} {% trans 'for' %} {{ raid.raid.game.name }} {% trans 'in' %} {{ raid.raid.lvl.name }}</h5>
            <p>{% trans 'Start date' %}: {{ raid.start_date }}</p>
            <p>{{ raid.characterforoutraid_set.all|length }} {% trans 'registered' %} - {% trans 'Level required' %} {{ raid.lvl }}</p>
            <div id="raid">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ raid.raid.get_progression_boss }}"
                         aria-valuemin="0" aria-valuemax="100" style="width:{{ raid.raid.get_progression_boss }}%">
                        {{ raid.raid.boss_successful }} / {{ raid.raid.number_of_boss }} {% trans 'Boss' %}
                    </div>
                </div>
            </div>
        </div>
        <div id="required" class="col-xs-7">
            {% for class_needed in raid.class_needed.all %}
                <h4>{{ class_needed.number }} - {{ class_needed.classCharacter.attribute_value }}</h4>
                <ul>
                    {% for character in raid.characterforoutraid_set.all %}
                        {% ifequal class_needed.classCharacter.attribute_value character.classCharacter.attribute_value %}
                            <li>
                                <p>
                                    {% if character.character.user.userprofile.image_profile %}
                                        <img src="{{ character.character.user.userprofile.image_profile.url}}" height="40" width="40">
                                    {% else %}
                                        <img src="" height="40" width="40">
                                    {% endif %}
                                    <b>{{ character.character.user.username }}</b> {% trans 'sign up with' %} {{ character.character.name }} {% trans 'as' %} {{ character.classCharacter.attribute_value.field_value }}</p></li>
                        {% endifequal %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        {% for boss in raid.raid.boss_set.all %}
            {% if boss.position_in_raid == raid.raid.boss_successful %}
                <div id="header-raid" class="col-xs-3">
                    <img class="img-responsive" src="{{ boss.image.url }}">
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}