{% load staticfiles %}

<head>
    {% block head %}
        {% block title %}{% endblock %}
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        {% block meta %}{% endblock %}
        {% block css %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
            <!-- START FontAwesome -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <!-- END FontAwesome -->
            <link rel="stylesheet" href="{% static 'SuperPortal/css/base.css' %}">

        {% endblock %}
        {% block js %}
            <!-- JQUERY BEGIN -->
                <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
                <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <!-- JQUERY END -->
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        {% endblock %}
    {% endblock %}
</head>


<body>
<div id="page-header" class="container-fluid row">
    <div id="top-header">
        <div id="navigation-menu" class="col-xs-12">
        <ul>
        {% if guild.forum_active %}
            <li><a href="{% url 'forum_index' %}">Forum</a></li>
        {% endif %}
            <li><a>toto</a></li>
            <li><a>toto</a></li>
            <li><a>toto</a></li>
            <li><a>toto</a></li>
            {% for portal in list_portal %}
                <li class="superportal-portal-detail">
                    <a href="{{ portal.get_absolute_url }}">{{ portal.name }} </a>
                </li>
            {% endfor %}
        </ul>
    </div>
        <div id="logo" class="col-xs-4">
            <img src="http://semper-umbra.guildi.com/uploads/websites/2316/images/site%20internet.png">
        </div>
        <div id="banner" class="col-xs-8">
            <img src="http://img15.hostingpics.net/pics/521887Sanstitre.png">
        </div>
        <div id="connection-module" class="col-xs-8 col-xs-offset-4">
            <form class="col-xs-offset-1">
                <input value="login">
                <input value="password">
                <input type="submit" value="Connexion">
            </form>
        </div>
    </div>

</div>
<div id="inner-body" class="container">
{% block body %}

{% endblock %}
</div>
</body>
