{% load staticfiles %}
{% load multiply %}
{% load i18n %}
<head>
    {% block head %}
        {% block title %}{% endblock %}
        <meta name="description" content="{% block meta_description %}{% endblock %}"/>
        {% block meta %}{% endblock %}
        {% block css %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
            <!-- START FontAwesome -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <!-- END FontAwesome -->
            <link rel="stylesheet" href="{% static 'SuperPortal/css/base.css' %}">

        {% endblock %}
        {% block js %}
            <!-- JQUERY BEGIN -->
            <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <!-- JQUERY END -->
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

            <script type="text/javascript" src="{% static 'SuperPortal/js/external/sticky_menu.js' %}"></script>

            <script type="text/javascript">
                $(document).ready(function () {

                    $('#navigation-menu').addClass('original').clone().insertAfter('#navigation-menu').addClass('sticky-cloned').removeClass('original').hide();

                    scrollIntervalID = setInterval(stickIt, 10);

                    var active = [];
                    var active_home = false;

                    $('.quick-portal-access').on('mousedown touchstart', function () {

                        {% for portal in list_portal %}
                            if (!active[{{ forloop.counter0 }}])
                                $(this).find('.quick-portal.access-{{ forloop.counter }}').css({
                                    'background-color': '#EEF2EB',
                                    'transform': 'translate(0px,{{ forloop.counter|multiply:80 }}px)'
                                });
                            else
                                $(this).find('.quick-portal.access-{{ forloop.counter }}').css({
                                    'background-color': '#EEF2EB',
                                    'transform': 'none'
                                });
                            active[{{ forloop.counter0 }}] = !active[{{ forloop.counter0 }}];
                        {% endfor %}

                        if (!active_home)
                            $(this).find('.quick-portal.quick-home').css({
                                'background-color': '#EEF2EB',
                                'transform': 'translate(80px,0px)'
                            });
                        else
                            $(this).find('.quick-portal.quick-home').css({
                                'background-color': '#EEF2EB',
                                'transform': 'none'
                            });
                        active_home = !active_home;

                    });
                });
            </script>
        {% endblock %}
    {% endblock %}
</head>


<body>
<div id="page-header" class="">
    <div id="top-header">
        <div id="banner">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 content-wrapper">
                <img src="{{ super_portal.banner.url }}">
            </div>
        </div>
        <div class="quick-portal-access">
            <div class="quick-portal-main-access"><i class="fa fa-gamepad fa-3x"></i></div>
            {% for portal in list_portal %}
                <div class="quick-portal access-{{ forloop.counter }}"><a
                        href="{{ portal.get_absolute_url }}"><img src="{{ portal.image.url }}"
                                                                  height="40px"></a></div>
            {% endfor %}
            {% if portal %}
                <div class="quick-portal quick-home"><a
                        href="/"><img src="{{ guild.icon_guild.url }}"
                                      height="40px"></a></div>
            {% endif %}
        </div>
        <div id="navigation-menu">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2 content-wrapper">
                <ul id="top-menu">
                    <li><a href="/" class="fa fa-home"></a></li>
                    <li><a href="#">{{ guild.guild_name }}</a></li>
                    {% if guild.forum_active %}
                        <li><a href="{% url 'forum_index' %}">Forum</a></li>
                    {% endif %}
                    <li><a href="{% url 'members' %}">{% trans 'Members' %}</a></li>
                    <li><a href="{% url 'enrollement_index' %}">{% trans 'Enrollment' %}</a></li>

                {% if user.is_authenticated  and user|can_vote %}
                    <li><a href="{% url 'enrollement_list' %}">{% trans 'Ongoing Enrollment' %} <span class="badge">{{ number_enrollment }}</span></a></li>
                {% endif %}
                    <li><a href="#">{% trans 'Calendar' %}</a></li>
                    {% if user.is_authenticated  %}
                        <li><a href="{% url 'profile' %}">{% trans 'Profile' %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'message_index' %}">0 message</a></li>
                </ul>
            </div>
        </div>


    </div>
</div>

</div>

<div id="inner-body">
    {% block body %}

    {% endblock %}
</div>
</body>
