{% extends 'SuperPortal/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block css %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'SuperPortal/css/news_feed.css' %}">
    <link rel="stylesheet" href="{% static 'SuperPortal/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'PortalEnrollment/css/unit-enrollment-setting.css' %}">
    <link rel="stylesheet" href="{% static 'SuperPortal/css/external/owl.carousel.css' %}">

    <style type="text/css">

{#        {% for enrollment in enrollments %}#}
{#            .unit-enrollment-setting.id-{{ enrollment.id }} {#}
{#                background-image: url("{{ enrollment.background_image.url }}");#}
{#            }#}
{#        {% endfor %}#}

    </style>

{% endblock %}

{% block js %}

    {{ block.super }}

    {% if settings.DEBUG %}
        <script type="text/javascript" src="{% static 'SuperPortal/js/external/owl.carousel.min.js' %}"></script>
    {% else %}
    {% endif %}

{#    <script type="text/javascript" src="{% static 'SuperPortal/js/external/owl.carousel.min.js' %}"></script>#}

    <script type="text/javascript">

        $(document).ready(function(){
{#            slider = $(".owl-carousel");#}
{#            slider.owlCarousel({#}
{#                margin: 0,#}
{#                autoplay: true,#}
{#                autoplayTimeout: 2000,#}
{#                autoplayHoverPause: true,#}
{#                center: true,#}
{#                loop: true,#}
{#                item: 1,#}
{#            });#}
{##}
{#            $('div.control.prev').click(function() {#}
{#                slider.trigger('prev.owl.carousel');#}
{#            });#}
{#            $('div.control.next').click(function() {#}
{#                slider.trigger('next.owl.carousel');#}
{#            });#}

            $.getJSON("https://api.twitch.tv/kraken/streams/" + "{{ guild.twitch_channel }}" + "?callback=?", function(data) {
                if (data['stream']) {
                    $("#twitch.superportal-modules").html('<a rel="external" href="#button" id="stream-on"><i class="fa fa-power-off fa-lg"></i></a> <span></span>')
                } else {
                    $("#twitch.superportal-modules").html('<a rel="external" href="#button" id="stream-off"><i class="fa fa-power-off fa-lg"></i></a> <span></span>')
                }
            });
        });

    </script>

{% endblock %}

{% block meta_description %}{{ short_description }}{% endblock %}
{% block body %}
    {#    {% url 'profile' %}#}
    {% if guild.slider_active %}
    <div id="superportal-slider" class="hidden-xs visible-lg">
        <div id="inner-slider" class="col-xs-12 col-lg-10 col-lg-offset-1 content-wrapper">
            <div id="prev-slider" class="control prev"><i class="fa fa-angle-left"></i></div>
            <div class="owl-carousel">
                <div class="last-news item">1</div>
                <div class="last-news item">2</div>
                <div class="last-news item">3</div>
                <div class="last-news item">4</div>
                <div class="last-news item">5</div>
                <div class="last-news item">6</div>
            </div>
            <div id="next-slider" class="control next"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
    {% endif %}

    <div id="superportal-news_feed">
        <div id="inner-news-feed" class="col-xs-12 col-lg-7 col-lg-offset-1 content-wrapper">

            <h2>{% trans "News" %} :</h2>
            {% for news in news_list %}
                {% include 'SuperPortal/news_template.html' %}
            {% endfor %}

{#            {% for portal in list_portal %}#}
{#                LAST NEWS#}
{#                {{ portal.get_last_news }}#}
{#            {% endfor %}#}
        </div>
    </div>
    <div id="superportal-modules">
        <ul id="superportal-module-list" class="col-xs-12 col-lg-3 content-wrapper">
            <div class="superportal-module">
                <div id="enrollment" class="superportal-modules col-xs-12">
                    <h3>{% trans 'Enrollment' %} :</h3>

                    {% for enrollment in enrollments %}
                        {% include 'PortalEnrollment/unit_enrollment_setting_module.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="superportal-module">
                <div id="twitch" class="twitch superportal-modules col-xs-12">
                </div>
            </div>
            {#            <li class="twitch superportal-module">#}
            {##}
            {#            </li>#}
        </ul>
    </div>

{% endblock %}