{% extends 'SuperPortal/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block css %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'SuperPortal/css/news.css' %}">

{% endblock %}

{% block meta_description %}{{ short_description }}{% endblock %}
{% block body %}
    <div id="superportal-slider" class="col-xs-12">
        SLIDER
    </div>

    <div id="superportal-news_feed" class="col-xs-10">

        <h2>{% trans "News" %} :</h2>
        {% for portal in list_portal %}
            {% for news in portal.news_set.all %}
                {% include 'SuperPortal/news_template.html' %}
            {% endfor %}
            LAST NEWS
            {{ portal.get_last_news }}
        {% endfor %}
    </div>
    <div id="superportal-modules" class="col-xs-2">
        <ul id="superportal-module-list">
            <li class="superportal-module">
                TS
            </li>
            <li class="superportal-module">
                Twitch
            </li>
        </ul>
    </div>
    {#    <div id="superportal-portal" class="col-xs-10">#}
    {##}
    {#        <h2>Portail :</h2>#}
    {#        <ul id="superportal-portal-list">#}
    {#            {% for portal in list_portal %}#}
    {#                <li class="superportal-portal-detail">#}
    {#                    <a href="{{ portal.get_absolute_url }}">{{ portal.name }} </a>#}
    {#                </li>#}
    {#            {% endfor %}#}
    {##}
    {#        </ul>#}
    {#    </div>#}
{% endblock %}