{% extends 'SuperPortal/base.html' %}
{% block meta_description %}{{ short_description }}{% endblock %}
{% block body %}
    <div id="superportal-slider" class="col-xs-12">

    </div>

    <div id="superportal-news_feed" class="col-xs-10">

        <h2>Actualités :</h2>
        <div class="news col-xs-12">Aya</div>
        <div class="news col-xs-12">Aya</div>
        <div class="news col-xs-12">Aya</div>
        <div class="news col-xs-12">Aya</div>
        <div class="news col-xs-12">Aya</div>
        <div class="news col-xs-12">Aya</div>
    </div>
    <div id="superportal-modules" class="col-xs-2">
        <ul id="superportal-module-list">
            <li class="superportal-module">
                    TS
            </li>
            <li class="superportal-module">
                    Twitch
            </li>
        </ul>
    </div>
{% endblock %}