{% load i18n %}
<div class="news col-xs-12">
    {% if news.news_image %}
        <div class="col-xs-2">
            <img class="news-img" src="{{ news.news_image.url }}">
        </div>
    {% endif %}
    {% if news.news_image %}
        <div class="col-xs-10">
    {% else %}
        <div class="col-xs-12">
    {% endif %}

    <h3>{{ news.title }}</h3>
    <p>{{ news.content|slice:":200"|add:'...' }}</p>
    <a href="{{ news.get_absolute_url }}">{% trans "Read more" %}</a>

    </div>
    <div class="info-news pull-right">
        <i class="fa fa-calendar"> {{ news.published_date|date:"d M Y" }}</i>
        <i class="fa fa-folder-open">{{ news.category.name }}</i> {% trans 'in' %}
        <img src="{{ news.portal.image.url }}" class="news-img-portal"/> {{ news.portal.name }}
        <i class="fa fa-comments-o">{{news.commentnews_set.all|length}}</i>
    </div>
    </div>