{% extends 'SuperPortal/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block meta_description %}{{ short_description }}{% endblock %}
{% block css %}

    {{ block.super }}

    <link rel="stylesheet" href="{% static 'SuperPortal/css/news_detail.css' %}">
    <link rel="stylesheet" href="{% static 'SuperPortal/css/comments.css' %}">

{% endblock %}

{% block body %}

    <div class="col-xs-12 col-lg-8 col-lg-offset-2 content-wrapper">
        <div id="news-meta">
            <i id="news-author" class="fa fa-pencil"> {{ news.creator }}</i>
            <i id="news-author" class="fa fa-clock"> {{ news.get_date_formated }}</i>
            <i id="news-comment" class="fa fa-eye pull-right"> {{ news.view }}</i>
            <i id="news-comment" class="fa fa-comment pull-right"> {{ news.commentnews_set.all|length }}</i>
            <h2>{{ news.title }}</h2>
            <img src="{{ news.portal.image.url }}" class="news-img-portal"/> {{ news.portal.name }} / {{ news.category|title }}
        </div>
        {#        Nombre de commentaire : {{news.commentnews_set.all|length}} Vue par {{ news.view }} </br>#}
        {#        {% trans 'Written by' %} {{ news.creator.username }} {{ news.get_date_formated }}#}
        <div id="news-img" class="col-xs-12">
            <img src="{{ news.news_image.url }}">
        </div>

        <div id="news-body">
            {{ news.content|linebreaks }}
        </div>

        <hr>

        <div class="comments">
            <h3>{% trans 'Comments' %} : </h3>
            {#            {% for comment in news.commentnews_set.all %}#}
            {% for comment, answers in comments.items %}
                <div class="col-xs-12">
                {% include 'Portal/News/comment.html' with comment=comment %}
                {% if answers %}
                    <div class="comments-answers">
                    {% for answer in answers %}
                        {% include 'Portal/News/comment.html' with comment=answer %}
                    {% endfor %}
                    </div>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}