{% extends 'SuperPortal/base.html' %}
{% load i18n %}
{% block meta_description %}{{ short_description }}{% endblock %}
{% block body %}
    <div id="superportal-slider" class="col-xs-12">

    </div>

    <div id="superportal-news_feed" class="col-xs-10">

        <h2>{% trans 'News' %}:</h2>


                <div class="news col-xs-12">
                <h3>{{ news.title }}</h3>
                    Nombre de commentaire : {{news.commentnews_set.all|length}} Vue par {{ news.view }} </br>
                    {% trans 'Written by' %} {{ news.creator.username }} {{ news.get_date_formated }}
                <div class="col-xs-2">
                    <img src="{{ news.news_image.url }}">
                </div>

                    <p>{{ news.content|linebreaks }}</p>
                    <em>{{ news.category.name }}</em> {% trans 'in' %} <em>{{ news.portal.name }}</em>
                </div>
                <div class="comments">
                {% for comment in news.commentnews_set.all %}
                    <div class="comment">
                        <div class="comment-user">
                            {{ comment.user.username }} - {{ comment.published_date }}
                        </div>
                        {{ comment.content|linebreaks }}
                    </div>
                    {% endfor %}
                </div>


    </div>
    <div id="superportal-modules" class="col-xs-2">
        <ul id="superportal-module-list">
            <li class="superportal-module">
                TS
            </li>
            <li class="superportal-module">
                Twitch
            </li>
        </ul>
    </div>

{% endblock %}