{% extends 'SuperPortal/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block css %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'SuperPortal/css/news_feed.css' %}">
    <link rel="stylesheet" href="{% static 'SuperPortal/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'PortalEnrollment/css/unit-enrollment-setting.css' %}">
    <link rel="stylesheet" href="{% static 'SuperPortal/css/external/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'SuperPortal/css/forum.css' %}">


{% endblock %}

{% block meta_description %}{{ short_description }}{% endblock %}
{% block body %}
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 content-wrapper">
        <h3>{{ thread.title }}</h3>
        {% for post in thread.posts.all %}
            <div id="post-wrap">
                <div class="post-creator col-xs-2">{{ post.creator }}</div>
                <div class="post-date col-xs-9">{% trans 'Posted' %} {{ post.created|date:'' }}</div>
                <div class="post-date col-xs-1">{% trans 'Post' %} #{{ forloop.counter }}</div>
                <div class="creator-info col-xs-2">
                    <ul class="basic-info">
                        {% with post.creator as creator %}
                            {% for group in creator.groups.all %}
                                <li>{{ group.name }}</li>
                            {% endfor %}
                            <li>
                                <ul>
                                    {% for game in creator.userprofile.games.all %}
                                        <li class="li-game"><img src="{{ game.image_thumbnail.url }}" class="" height="20px" width="20px"></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% if creator.userprofile.image_profile %}
                                <li><img class="img-circle img-rounded" src="{{ creator.userprofile.image_profile.url }}" height="90" width="90"></li>
                            {% else %}
                                <li><img class="img-circle img-rounded" src="http://static.commentcamarche.net/www.commentcamarche.net/faq/images/3ZScavRb-car-ok-s-.png" height="90" width="90"></li>
                            {% endif %}

                            <li>{{ creator.userprofile.post_in_forum }} {% trans 'messages' %}</li>
                            <li>{{ creator.userprofile.reponse_to_blog }} {% trans 'messages on blog' %}</li>
                        {% endwith %}
                    </ul>
                </div>
                <div class="post-body col-xs-10">
                    <div class="content">
                        {{ post.body|linebreaksbr }}
                    </div>
                </div>
                <ul class="col-xs-12 post-footer">
                    <li><a href="#">{% trans 'Report' %}</a> </li>
                </ul>
            </div>

        {% endfor %}
        {% if thread.posts.all %}
            <div class="respond pull-right">
                <a href="{% url 'create_post' category=thread.forum.category.slug title=thread.forum.slug thread_name=thread.slug %}">
                    <button type="button" value="{% trans 'Respond' %}">{% trans 'Respond' %}</button>
                </a>
            </div>
        {% else %}
            <div class="respond pull-right">
                <a href="{% url 'create_post' category=thread.forum.category.slug title=thread.forum.slug thread_name=thread.slug %}">
                    <button type="button" value="{% trans 'New post' %}">{% trans 'New post' %}</button>
                </a>
            </div>
        {% endif %}
    </div>

{% endblock %}